


.design{
	color:whitesmoke !important;
	font-family: 'Lato';
	text-align: center;
        margin-top: 190px;
	margin-left:400px;
        border:2px  rgba(0, 0, 0, 0.473);
	border-radius:20px;
	position: absolute;
	width:400px;
	box-shadow: 10px 10px 5px black;
}
#img1{
	position: relative;
	margin-left:280px ;
	z-index:-1;
}
.fa_custom{
	color: black;
	transition: all 0.5s;
}
.fa_custom:hover{
	color: white;
}

.about-me:hover{
	color:black!important;	
}
.local{
 width:300px;
 height:100%;
 border-radius: 20px;
 background-color: rgba(79, 77, 77, 0.347)!important;
 box-shadow: 20px 20px 60px #00000078, inset -20px -20px 60px #00000029;
}
.local:hover{
	transform: scale(1.1);
	transition: all 0.5s ease-in-out;
}
.btn-outline-primary{
	color: rgb(237, 158, 11)!important;
	border:2px solid orange !important;
	transition: all 0.5s;
}
.btn-outline-primary:hover{
	background-color: orange !important;
	color: white!important;
}

@media  screen and (min-width: 250px) and (max-width:350px) {
	.design{
		margin-top: 350px;
		margin-left:80px;
		width:250px;
	}
	#img1{
		margin-top:90px;
		margin-left:-20px;
	
	}
	
	
	
}
@media  screen and (min-width: 350px) and (max-width:550px) {
	.design{
		margin-top: 300px;
		margin-left:110px;
		width:250px;
	}
	
	#img1{
		margin-top:60px;
		margin-left:-20px;
	
	}
	
	
	
}
@media  screen and (min-width: 550px) and (max-width:700px) {
	.design{
		margin-top: 400px;
		margin-left:200px;
		width:250px;
	}
	#img1{
		margin-top:150px;
		margin-left:15px;
	
	}
	
	
}
@media  screen and (min-width: 700px) and (max-width:1000px) {
	.design{
		margin-top: 400px;
		margin-left:250px;
		width:250px;
	}
	#img1{
		margin-top:200px;
		margin-left:80px;
	
	}
	
	
}

