


.design{
	color:whitesmoke !important;
	font-family: 'Lato';
	text-align: center;
        margin-top: 190px;
	margin-left:400px;
        border:2px  rgba(0, 0, 0, 0.473);
	border-radius:20px;
	position: absolute;
	width:400px;
	box-shadow: 10px 10px 5px black;
}
#img1{
	position: relative;
	margin-left:280px ;
	z-index:-1;
}
.fa_custom{
	color: black;
	transition: all 0.5s;
}
.fa_custom:hover{
	color: white;
}

.about-me:hover{
	color:black!important;	
}
.local{
 width:300px;
 height:100%;
 border-radius: 20px;
 background-color: rgba(79, 77, 77, 0.347)!important;
 box-shadow: 20px 20px 60px #00000078, inset -20px -20px 60px #00000029;
}
.local:hover{
	transform: scale(1.1);
	transition: all 0.5s ease-in-out;
}
.btn-outline-primary{
	color: rgb(237, 158, 11)!important;
	border:2px solid orange !important;
	transition: all 0.5s;
}
.btn-outline-primary:hover{
	background-color: orange !important;
	color: white!important;
}

@media  screen and (min-width: 250px) and (max-width:350px) {
	.design{
		margin-top: 350px;
		margin-left:80px;
		width:250px;
	}
	#img1{
		margin-top:90px;
		margin-left:-20px;
	
	}
	
	
	
}
@media  screen and (min-width: 350px) and (max-width:550px) {
	.design{
		margin-top: 300px;
		margin-left:110px;
		width:250px;
	}
	
	#img1{
		margin-top:60px;
		margin-left:-20px;
	
	}
	
	
	
}
@media  screen and (min-width: 550px) and (max-width:700px) {
	.design{
		margin-top: 400px;
		margin-left:200px;
		width:250px;
	}
	#img1{
		margin-top:150px;
		margin-left:15px;
	
	}
	
	
}
@media  screen and (min-width: 700px) and (max-width:1000px) {
	.design{
		margin-top: 400px;
		margin-left:250px;
		width:250px;
	}
	#img1{
		margin-top:200px;
		margin-left:80px;
	
	}
	
	
}
.wrapper{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333333;
}
.loader{
	width: 140px;
	height: 140px;
	border:15px solid #ccc ;
	border-radius:50% ;
	margin: 0 auto;
    border-top: 15px solid orange;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.box:nth-child(2){
	transition-delay: 150ms;
}
.box:nth-child(3){
	transition-delay: 200ms;
}
.box:nth-child(4){
	transition-delay: 250ms;
}
.box:nth-child(5){
	transition-delay: 300ms;
}
.box:nth-child(6){
	transition-delay: 350ms;
}
.box:nth-child(7){
	transition-delay: 400ms;
}
.box:nth-child(8){
	transition-delay: 450ms;
}
.box:nth-child(9){
	transition-delay: 500ms;
}
.box:nth-child(10){
	transition-delay: 450ms;
}
.box:nth-child(11){
	transition-delay: 500ms;
}
.box:nth-child(12){
	transition-delay: 550ms;
}
.box:nth-child(13){
	transition-delay: 600ms;
}
.box:nth-child(14){
	transition-delay: 650ms;
}
.box:nth-child(15){
	transition-delay: 700ms;
}
.box:nth-child(16){
	transition-delay: 750ms;
}
.box:nth-child(17){
	transition-delay: 800ms;
}
.box:nth-child(18){
	transition-delay: 850ms;
}

